
#<RP Default Gitignore Start>
*.pyc
*.bak
*.swh
*.swi
*.swj
*.swk
*.swl
*.swm
*.swn
*.swo
*.swp
*.un~
*.gstmp
*.ipynb_checkpoints
*.DS_Store
#<RP Default Gitignore End>

fullvid/*.mp4
track_trails/track_trails_demo.mp4
track_trails/track_trails_skia_demo.mp4
track_trails/tracking_trails_demo.mp4
